@page
@model RazorPagesCafe.Pages.p_ingredients.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Уверены, что хотите удалить ингредиент?</h3>
<div>
    <h4>Ингредиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Remainder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Remainder)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Ingredient.IdIngredient" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться</a>
    </form>
</div>
