@page
@model RazorPagesCafe.Pages.p_ingredients.DetailsModel

@{
    ViewData["Title"] = "Данные";
}

<h1>Данные</h1>

<div>
    <h4>Ингредиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Remainder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Remainder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ingredient.IdIngredient">Редактировать</a> |
    <a asp-page="./Index">Вернуться</a>
</div>
