@page
@model RazorPagesCafe.Pages.p_dishes.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Уверены, что хотите удалить блюдо?</h3>
<div>
    <h4>Блюдо</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.QuantityInOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.QuantityInOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.CookingCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.CookingCourse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish.MenuViewNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.MenuViewNavigation.MenuView)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Dish.IdPosition" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться</a>
    </form>
</div>
