@page
@model RazorPagesCafe.Pages.p_dishes.IndexModel

@{
    ViewBag.Title = "Блюда";
}

<h1>Блюда</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по названию:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Поиск" class="btn btn-primary" /> |
            <a asp-page="./Index">Вернуться к полному списку блюд</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Dishes[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.IdPosition">Данные</a> |
                    <a asp-page="./Create" asp-route-id="@item.IdPosition">Добавить в корзину</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Dishes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Dishes.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Dishes.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Предыдущая
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Dishes.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Следующая
</a>
