@page
@model RazorPagesCafe.Pages.p_order.DetailsModel

@{
    ViewData["Title"] = "Данные";
}

<h1>Данные</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderr.IdTable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderr.IdTable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderr.NumberOfVisitor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderr.NumberOfVisitor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderr.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderr.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderr.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderr.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderr.IdVisitorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderr.IdVisitorNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Orderr.IdOrder">Редактировать</a> |
    <a asp-page="./Index">Вернуться</a>
</div>
