@page
@model RazorPagesCafe.Pages.p_cont_order.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Уверены, что хотите удалить это блюдо из корзины?</h3>
<div>
    <h4>Корзина</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentsOfOrder.IdOrderNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentsOfOrder.IdOrderNavigation.IdOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentsOfOrder.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentsOfOrder.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentsOfOrder.IdPositionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentsOfOrder.IdPositionNavigation.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ContentsOfOrder.IdOrder" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться</a>
    </form>
</div>
